.buzzfeed{
    border-radius: 4px;

}

.buzzfeed-header{
    font-weight: 500;
    text-align: right;
    padding: 0 5px;
    display: flex;
    justify-content: flex-end;
}

.buzzfeed-header select{
    border: 1px solid black;
    
}

.buzzfeed-header{
    margin-bottom: 20px;
}
.filtericon{

}
.filterdropdown{
    margin: 5px;
}