div.modal-header{
    margin: 0 auto;
}

div.modal-body{
    margin: 0 auto;
}

div.modal-body img{
    width: 200px;
    height: auto;
    border-radius:0; 
}

a:not([href]):not([tabindex]) {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

a:not([href]):not([tabindex]):hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}