.loginDiv {
    position: relative;
    height: 100vh;
}

.loginDiv::after {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    filter: blur(5px);
    right: 0;
    background-image: url('../../../Assets/fun-ttn-d.jpg');
    content: "";
    background-size: cover;
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .5);
}

a.button{
    margin-top: 0%;
    background-color: #E04A32;
    text-decoration: none;
    width: 85%;
    position: relative;
}

a.button span{
    color: white;
    font-weight: 500;
}

a.button:hover{
    text-decoration: none;
}

span.google-logo{
    font-size: 25px;
    font-weight: 700;
    margin: 0 20px;
}

span.button-label{
    position: absolute;
    top: 15%;
}

div.btn-inner{
    margin: 0 auto;
}

img.card-img-top {
    width: 20%;
    margin: 0 auto;
}
.card {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    background-color: #F8F7F4;
    margin: 0 auto;
    position:absolute;
    top: 30%;
}

.card-body {
    padding: 1em 0em 2em 0em !important;
}

.card-title {
    font-weight: 600;
    color: black;
    font-size: 1rem;
}

div.card.text-center{
    padding: 50px 0;
}