ul li {
    
    list-style: none;
}

.buzzContainer {
    width: 98%;
    margin: 0 auto;
    max-width: 100%;
    padding: 10px;
    box-shadow: -1px 1px 25px 3px rgba(0,0,0,0.35);
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 10px;
    /* border: 1px solid; */
}

.buzzHeader {
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}

.userimgcontainer{
    border-radius: 50%;
    /* border: 1px solid orange; */
}

.userimg{
    border-radius: 50%; 
}

.usernameactivity{
    margin-left: 10px;
}

.username{
    font-weight: 600;
    font-size: 16px;
}

.buzzCategory{
    letter-spacing: 1px;
    /* font-size: 16px; */
    margin-left: 10px;
    /* font-weight: 900; */
}

.timestamp{
    text-align: left;
    color: #777575;
    font-weight: 900;
}

.nameActivity{
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    flex-basis: 50%;
}

.deleteBuzz{
    text-align: right;
    margin-right: 20px;
    /* border: 1px solid yellow; */
    flex-basis: 50%;
}

.deleteicon{
    font-size: 15px;
    overflow: visible;
    color: red;
}

.buzzContentContainer{
    /* border: 1px solid green; */
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

.buzzContent{
    color: #525252;
    font-size: 17px;
}

.uploadedimg{
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.buzzFooter{
    margin-top: 10px;
    text-align: right;
    border-top: 1px;
    padding-top: 10px;
    border-top-style: solid;
    border-top-color: lightgray;
}

.reactionicon{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color:grey;
}

.likeicon{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color:green;
}
.unlikeicon{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: red;
}

.deleteicon{
    cursor: pointer;
}