ul.buzz-thread {
    border-bottom: 1px solid lightgrey;
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-size: 90%;
    line-height: 100%;
    margin: 0;
}

ul li {
    /* color: brown; */
    list-style: none;
}

div.buzz {
    width: 80%;
    padding: 2%;
}

div.buzz li {
    /* border: 1px solid green; */
    text-align: start;
    padding: 1% 2%;
    word-break: break-all;
    line-height: 100%;
}

.buzz-date {
    padding: 3.5% 2%;
    font-size: 13px;
    color: gray;
    display: inline-block;
}

.buzz-email {
    font-size: 75%;
    color: grey;
    display: inline-block;
    align-self: center;
    width: 50%;
    margin-left : 5px;
}

.buzz-time{
    font-size: 70%;
    color: grey;
    display: inline-block;
    width: 30%;
    align-self: center;
}

.activity {
    font-size: 85%;
    font-weight: 500;
    background-color: green;
    color: white;
    display: inline-block;
    align-self: center;
    text-align: center;
    width: 15%;
    border: 1px solid transparent;
    border-radius: 4px;
}


.lost-and-found {
    font-size: 85%;
    font-weight: 500;
    background-color: red;
    color: white;
    display: inline-block;
    align-self: center;
    text-align: center;
    width: 25%;
    border: 1px solid transparent;
    border-radius: 4px;
}

.buzz-description {
    margin-top: 10px;
}

.user-info {
    /* text-align: start; */
    display: flex;
    justify-content: flex-start;
}

/* .user-info:nth-child(3){
    text-align: end;
} */

li.user-thumbnail {
    display: inline;
    text-align: start;
    margin-right: 5px;
}

.user-thumbnail img {
    width: 25px;
    height: auto;
    border-radius: 50%;
}

.reactions{
    display: flex;
    justify-content: flex-start;
}