div.sideNavBar{
    margin-top: 10px;
    background-color: #f4f8fb;
}

.sideNavBar ul li {
    margin: 1px;
    background-color: white;
    border: 1px solid #e9e6e6;
    height: 40px;
    font-size: 18px;
}

.link{
    
    color: blue;
    display: inline-block;
    width: 100%;
    line-height: 40px;
    text-decoration: none;
    font-weight: 500;   
}

.link:hover{
    text-decoration: none;
    color: rgb(243, 162, 40);
}

a.link.active{
    text-decoration: none;
    color: rgb(243, 162, 40);
}

div p{
    color: lightgrey;
    font-size: 12px;
    text-align: start;
}