.complaint-form{
    margin-top: 10px;
    border: 1px solid lightgrey;
}

.complaint-form-title{
    font-size: 20px;
    text-align: start;
    padding: 2px 10px;
}

.complaint-form form{
    background-color: white;
    margin: 0;
    padding: 15px;
}

.form-top{
    display: flex;
    justify-content: space-between;
}

.form-top select {
    width: 45%;
    border-radius: 4px;
    border: 1px solid lightgray;
    outline: none;
    margin: 0;
}

.form-top input{
    width: 50%;
    border-radius: 4px;
    border: 1px solid lightgray;
    outline: none;
    padding-left: 5px;
}

.complaint-form form textarea{
    resize: none;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin: 15px auto;
    outline: none;
}

.form-bottom{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.font-awesome{
    color: blue;
    margin: 0;
}

.font-awesome:hover{
    color: orange;
}

.font-awesome label.post-complaint{
    font-size: 25px; 
    margin: 0;
}

.font-awesome input{
    display: none;
}

.attachment-complaint{
    display: inline-block;
    width: 40px;
}

.attachment-span{
    width: 500px;
    padding: 10px;
}

.attachment-complaint-name{
    margin-left: 10px;
}

.attachment-clear{
    cursor: pointer;
}