div.buzzForm{
    margin: 10px 0;
    background-color: #f2f2f2;
    border: 1px solid lightgray;
    position: relative;
}

div.formTitle{
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 15px;
    font-weight: 600;
}

form{
    margin-top: 33px;
}

textarea{
    height: 100px;
    font-size: 13px;
    padding: 3px 10px;
    resize: none;
    border: none;
    outline: none;
}

div.lowerBar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div.category{
    display: flex;
    justify-content: flex-start;
    /* outline: none; */
}

label{
    margin: 1% 2%;
    margin-right: 0;
    font-size: 15px;
}

select{
    background: none;
    border: 1px solid lightgray;
    border-radius: 4px;
    color: blue;
    margin: 5px 10px 5px 50px;
    outline: none;
    height: 70%;
}

select:hover{
    background-color: blue;
    color: white;
}

.font-awesome{
    color: blue;
}

.font-awesome:hover{
    color: orange;
}

.font-awesome label{
    font-size: 25px; 
    margin-right: 50px;
}

.font-awesome input{
    display: none;
}

form{
    display: block;
}

form textarea{
    display: block;
    width: 100%;
}


